moviepy>=2.0,<3.0
arabic-reshaper>=3.0,<4.0
python-bidi>=0.6,<1.0
gspread>=6.0,<7.0
oauth2client>=4.1,<5.0
tenacity>=8.0,<10.0
loguru>=0.7,<1.0
boto3>=1.34,<2.0
requests>=2.31,<3.0
Pillow>=10.0,<12.0
python-dotenv>=1.0,<2.0
